# Introduction to Python Programming

In [1]:
print("Welcome to Python Programming")

Welcome to Python Programming

In [2]:
print("Welcome to Python Programming")
print("Welcome to jupyter Programming")

Welcome to Python Programming
Welcome to jupyter Programming

In [3]:
x=123456789
print(x)

123456789

## Insert a image
![text](https://upload.wikimedia.org/wikipedia/en/6/6c/Logo_of_the_100.jpg)

##  Insert a site
[site](https://en.wikipedia.org/wiki/The_100_(TV_series)

### *bold and single*italic text
**gitam**<br>
*gitam*

In [4]:
print("Hello World")

Hello World

In [5]:
## Variable Creation
a=10
b=5
a+b

15

In [8]:
name = "Gitam"
print(name+" university")

Gitam university

In [10]:
name = input("Enter a name")
age = int(input("Enter age"))
print("my name is",name,"and my age is",age)

Enter a nameramireddy
Enter age20
my name is ramireddy and my age is 20

## Take two inputs and do the following arithmetic operations

In [13]:
a = int(input("enter number"))
b = int(input("enter number"))
c=a+b
d=a-b
e=a*b
f=a/b
print(c,d,e,f)

enter number10
enter number2
12 8 20 5.0

### Fundamental datatypes
1. int
2. float
3. complex
4. boolean
5. string

In [19]:
a = 10
b = 12.05
c = 5+5j
d = "bhavani"
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'complex'> <class 'str'>

In [20]:
c = complex(3,5)
print(c)

(3+5j)

In [21]:
c1 = 3+5j
c2 = 4+6j
a = c1+c2
b = c1-c2
c = c1*c2
d = c1/c2
print(a,b,c,d)

(7+11j) (-1-1j) (-18+38j) (0.8076923076923077+0.03846153846153843j)

In [25]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 10.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
10

In [26]:
a = "123456789"
print(len(a))

9

In [30]:
a=123456
print(len(str(a)))

6

## Operators
1. Arithmetic Operators --->+,-,*,%,//,%%
2. Logical Operators 
3. Relational Operators

In [31]:
a = 10
b = 12
print(a == b)
print(a!=b)
print(a>b)

False
True
False

In [36]:
print(a>=10 and a<=20)
print(a>=13 or a<=9)
print(not a)

True
False
False

In [41]:
a = 10
b = 12
c = a<b
d = a>b
e = a==b
f = a!=b
g = a<=b
h = a>=b
print(c,d,e,f,g,h)

True False False True True False

# Membership Operators
## in --true if values is found in Sequence
## not in -- true if value not found in sequence

In [42]:
x = [1,2,3,4]
print(1 in x)
print(5 in x)
print(6 not in x)

True
False
True

## Conditional Statements
1. if 
2. else
3. elif
## Syntax 
#### If condition
> statements<br>
#### else;
> statements

## To check even or odd

In [45]:
a = int(input("enter the number"))
if a%2 == 0:
    print("even")
else:
    print("odd")

enter the number2
even

In [50]:
a = int(input("enter the number"))
if a%5==0 & a%3==0:
    print("multipe of 5 and 3")
else:
    print("not multiple")

enter the number15
multipe of 5 and 3

## Check the given number is positive,negative or zero

In [54]:
a = int(input("enter the number"))
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("number is zero")

enter the number-5
negative

## Check the given year is leap year or not

In [58]:
a = int(input("enter the number"))
if (a%4 == 0 and a%100 != 0) or a%400 == 0 :
    print("leap year")
else:
    print("not a leap year")

enter the number2100
not a leap year

## Loops

In [59]:
a = int(input("enter a number"))
i = 1
while i<=a:
    print(i,end=" ")
    i = i+1

enter a number12
1 2 3 4 5 6 7 8 9 10 11 12

In [62]:
a = int(input("enter a number"))
i = 1
s = 0
while i<=a:
    if i % 2 == 0:
        s = s+i
    i=i+1
print(s)

enter a number5
6