## Functional Programming
1. Simple
2. Easy to understand
3. Better reuseabitity
4. Length of program will be divided into subprograms

In [ ]:
def nameofFunction(<parameters>):
    statements
    return

# read a number
# print the even digit sum from the number
# Input : 1234
# Output : 6(2+4)

In [5]:
def evendigitsum(n):
    s=0
    while n != 0:
        r = n % 10
        if r % 2 == 0:
            s = s + r
        n = n // 10
    return s
evendigitsum(1234)

6

In [8]:
def odddigitsum(n):
    s=0
    while n != 0:
        r = n % 10
        if r % 2 != 0:
            s = s + r
        n = n // 10
    return s
odddigitsum(1234)

4

## Define return function

In [9]:
def square(x):
    print(x*x)
print(square(4))

16
None

In [10]:
def square(x):
    return x*x
square(3)

9

In [11]:
def cube(x):
    return x*x*x
cube(3)

27

In [12]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

# Swapping values

In [24]:
def swap(x,y):
    temp = x
    x=y
    y = temp 
    return x,y
swap(2,3)

(3, 2)

In [26]:
# Input  : 19535
# output : 9(large digit of the given no)
def largedigit(n):
    large = 0
    while n!=0:
        r=n%10
        if large < r:
            large = r
        n=n//10
    return large
largedigit(19535)

9

## For loop
### syntax1:
for i in range (start,stop,step):
> statements
#### syntax 2
for i in Iterableobject:
> statements

In [29]:
# Function to print the numbers btw two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end= ' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

## Collection types
1. List
2. Tuple
3. Set
4. Dictionary

# List 
1. One of the data structures in python
2. Data structures mean to store,sort and search options
3. It's one common Data structure in python, the items of list separated by coma and enclosed in square brackets
### Examples:
   -List1 = [1,2,3,4,5]
   -List2 = ["Gitam",1,2]

In [33]:
li = [1,8,16,17,18]
print(li[0])

1

In [35]:
# update list
li = ['gitam',1234,'hyd']
print(li)
li[1] = 456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [36]:
li = ['gitam',1234,'hyd']
print(li)
del li[1] 
print(li)

['gitam', 1234, 'hyd']
['gitam', 'hyd']

In [ ]:
li =